body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 70px - 118px - 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 3rem;
  top: 3rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn-burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.menu-nav-item {
  display: inline;
}

.menu-nav-item:nth-child(2) {
  padding-left: 1.5rem;
}

.menu-nav-item:nth-child(3) {
  padding-left: 1.5rem;
}

.menu-nav-item:nth-child(4) {
  padding-left: 1.5rem;
}

.menu-nav-item.active > a {
  color: #61dafb;
}

.menu-nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.menu-nav-link:hover {
  color: #61dafb;
}

@media screen and (max-width: 860px) {
  header .header-container {
    padding: 1rem 1.5rem !important;
  }
  .menu-btn {
    visibility: visible;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .nav.open {
    visibility: visible;
  }
  .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #181c24;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .menu-nav-item {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-left: 0;
  }
  .nav .menu-nav-item.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .menu-nav-link {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav-link:hover {
    color: #61dafb;
  }
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.social-icons {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

.social-icons a {
  padding: 0.4rem;
}

@media screen and (max-width: 860px) {
  .social-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    bottom: 5rem;
  }
}

footer {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #181c24;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  padding: 1rem 3rem;
  background-color: #181c24;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  background-color: #282c34;
  min-height: calc(100vh - 70px - 118px - 1rem);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  padding-top: 118px;
  text-align: center;
}

main section p {
  font-size: 1.5rem;
}

main hr {
  margin: 5rem auto;
  width: 70%;
  border-color: #61dafb;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #61dafb;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.skills-box {
  margin: 1rem;
}

.skills-box-logo {
  font-size: 40px;
}

.skills-box-text {
  margin: 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 860px) {
  .skills {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  text-align: right;
}

.timeline-item-content {
  padding: 0 2em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.timeline-item-content-date {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
}

.timeline-item-content-desc {
  margin-top: 0;
  font-size: 1.2rem;
}

.timeline-item:nth-of-type(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
}

.timeline-item:nth-of-type(2n) .timeline-marker {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-item:nth-of-type(2n) .timeline-item-content {
  padding: 0 0 1em 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.timeline-item::before {
  content: "";
  position: absolute;
  right: -0.5px;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.timeline-item:nth-of-type(2n)::before {
  left: -0.5px;
  right: auto;
}

.timeline-marker {
  position: absolute;
  top: 1.2rem;
  right: 0px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: block;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #fff;
}

.timeline .with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 23px;
  width: 23px;
  color: #282c34;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */