$font-color: #fafbfb;

$color-primary: #010314;

$color-white: #ffffff;
$color-light: #fafbfb;
$color-gray: #969696;
$color-dark-2: #202231;

$color-blue-2: #7f99fa;
$color-pink: #ec9fff;
$color-red: #fe6a68;
$color-yellow: #ffd879;
$color-green: #4debc6;
$color-blue-1: #6990d1;
$color-purple-1: #1c183a;
$color-purple-2: #3f3765;
$color-purple-3: #b88cff;

$transparent: #0000;
