@use '../../styles/abstracts/' as *;

.logo {
  cursor: pointer;
  transition: scale $animation;

  &:hover {
    scale: 1.05;
  }

  &__image {
    width: auto;
    height: 32px;

    @include media-lg {
      height: 38px;
    }

    @include media-xxl {
      height: 52px;
    }
  }
}
