@use '../../styles/abstracts/' as *;

.layout-toggle-separator {
  display: none;

  @include media-xl {
    display: initial;
  }
}

.layout-toggle {
  display: none;

  @include media-xl {
    display: flex;
    gap: 0.5rem;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($font-color, 0.6);
    transition: color $animation;

    &--active {
      color: rgba($font-color, 1);
    }

    svg {
      font-size: 1rem;
    }

    &:not(&--active) {
      &:hover {
        color: $font-color;
      }
    }
  }
}
