@use '../../styles/abstracts/' as *;

main#home {
  padding-top: 0;
}

.hero {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;

  @include media-xxl {
    width: 70vw;
  }

  &__title {
    font-size: clamp(32px, min(5vw, 5vh), 48px);
    line-height: initial;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__subtitle {
    font-size: 14px;
    @include font-mono;
  }

  &__right {
    align-self: flex-end;
    flex-shrink: 0;
  }

  &__image {
    display: none;
    pointer-events: none;
    user-select: none;

    @include media-md {
      width: auto;
      height: min(80dvw, 80dvh);
      display: flex;
      transition: all 1.2s $easing-hero;
      transition-delay: 0.4s;
    }

    @include media-lg {
      width: auto;
      height: 85vh;
    }
  }
}

.socials {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
}
