$primary-color: #181c24;
$secondary-color: #282c34;
$accent-color: #61dafb;
$text-color: #fff;

$footer-height: 70px;

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@mixin media-md {
	@media screen and (max-width: 860px) {
		@content;
	}
}