@import 'config';

footer {
	width: 100%;
	height: $footer-height;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: $primary-color;
	color: $text-color;
}