@import 'config';

.social-icons {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	bottom: 1rem;
	left: 1rem;
	z-index: 10;
	
	a {
		padding: 0.4rem;
	}
}

@include media-md {
	.social-icons {
		flex-direction: column;
		gap: 0;
		bottom: 5rem;
	}
}