@import 'default', 'header', 'config', 'socialMenu', 'footer';

header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;

	.header-container {
		display: flex;
		justify-content: space-between;
		z-index: 2;
		padding: 1rem 3rem;
		background-color: $primary-color;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $text-color;
	}

	.menu{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

main {
	background-color: #282c34;
	min-height: calc(100vh - 70px - 118px - 1rem);
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 1rem;
	padding-top: 118px;
	text-align: center;

	section {
		p {
			font-size: 1.5rem;
		}
	}

	hr {
		margin: 5rem auto;
		width: 70%;
		border-color: $accent-color;
	}
}
	
a{
	color: $text-color;
	text-decoration: none;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}


// ABOUT ME
.skills {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	max-width: 1200px;
	margin: 0 auto;

	&-box{
		margin: 1rem;

		&-logo {
			font-size: 40px;
		}

		&-text {
			margin: 0;
			font-size: 1.2rem;
		}
	}
}

@include media-md {
	.skills {
		grid-template-columns: repeat(3, 1fr);
	}
}

.timeline {
	display: flex;
	flex-direction: column;

	&-item {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 50%;
		text-align: right;
		
		&-content {
			padding: 0 2em 1em 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex-basis: 100%;

			&-date {
				text-transform: uppercase;
				font-size: 1rem;
				letter-spacing: 1px;
			}

			&-desc {
				margin-top: 0;
				font-size: 1.2rem;
			}
		}

		&:nth-of-type(2n) {
			align-self: flex-end;
			text-align: left;

			.timeline-marker {
				left: 0;
				transform: translateX(-50%);
			}
			
			.timeline-item-content {
				padding: 0 0 1em 2em;
				align-items: flex-start;
			}
		}

		&::before {
			content: "";
			position: absolute;
			right: -0.5px;
			height: 100%;
			width: 1px;
			background-color: $text-color;
		}

		&:nth-of-type(2n)::before {
			left: -0.5px;
			right: auto;
		}

	}
	
	&-marker {
		position: absolute;
		top: 1.2rem;
		right: 0px;
		transform: translateX(50%);
		display: block;
		height: 11px;
		width: 11px;
		border-radius: 100%;
		background: $text-color;
		border: 1px solid $text-color;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 23px;
		width: 23px;
		color: $secondary-color;
		font-size: 15px;
	}
}