@use '../abstracts/' as *;

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  @include font-base;
  @include font-m;
  min-height: 100dvh;

  main {
    max-width: max(60%, 1200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;

    &::before {
      content: '';
      position: relative;
      min-height: $header-min-height;
      height: $header-height;
    }
  }
}
